<h1>Stupid Coaching</h1>

<div class="card" style="padding-left: 10px">
  <h4><%= @question %></h4>
  <p style="font-style: italic">--You</p>
</div>

<div class="card" style="padding-left: 10px; background-color: #FCFCDF">
  <h4><%= @answer %></h4>
  <p style="font-style: italic">--Your coach</p>

</div>


<%= link_to "Ask another question", ask_path %>
